<form action="/question/upload" method="post" enctype="multipart/form-data">
	<input type="text" name="username" placeholder="username">
	<input type="text" name="round" placeholder="round">
	<input type="text" name="que" placeholder="que">
	<input type="file" name="file">
	<input type="submit">
</form>